/* CODE FOR INDEX */
h1 {
    text-align: center;
}

.mainpagetitle {
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#recipelist {
    text-align: center;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recipe-title {
    color:blueviolet;
}

.mainpage {
    background-color: beige;
}
/* END CODE FOR INDEX */

/* CSS FOR COOKIE PAGE*/
.cookieimg {
    width: 535px;
    height: 535px;
    float: right;
}

.cookietext {
    text-align: left;
    font-size: 15px;
    background-color: rgba(240, 218, 233, 0.993);
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cookierecipe {
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 1px black;
}

div h1 {
    text-align: center;
}
/* END CSS FOR COOKIE PAGE */

/* CURRY PAGE START */

.curryimg {
    float: right;
    width: auto;
    height: 100%;
}

#curryrecipe {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 1px black;
}

.section1 {
    background-color: rgb(63, 167, 63);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.currybanner {
    color:cornsilk;
    background-color: red;
    text-align: center;
}

.section2 {
    background-color: orange;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CURRY PAGE END */

/* SPAMMASUBI START */

#spamimg {
    float: right;
    width: auto;
    height: 100%;
    opacity: 0.9;
}

div.transbox {
    
    border: 1px solid black;
    padding: 47px;
    background-color: white;
   
}